*{
    font-family: "Roboto";
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 100%;
    font-weight: 400;
}
html{
   width: 100%;
   max-width: 100%;
   margin: 0;
   padding: 0;
}.calc {
    width: 300px;
    height: 500px;
    border: 1px solid #000;
    margin: 50px auto;
    background: #000;
    border-radius: 20px;
    color: #fdfdfd;
    font-family: Arial;
    display: grid;
    padding: 18px;
    box-shadow: 4px 4px 6px #4f4f4f;
}
.calc-screen {
    height: 125px;
    position: relative;
    padding: 10px;
    display: grid;
    justify-items: end;
    align-items: end;
}
.calc-screen p {
    text-align: right;
    font-size: 4rem;
    margin: 0;
}
.buttons{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.btn{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    text-align: center;
    line-height: 63px;
    font-size: 1.5rem;
    cursor: pointer;
    background: #333333;
}
.buttons__first{
    display: flex;
    gap: 5px;
}
.buttons__second{
    display: flex;
    gap: 5px;
}
.buttons__therd{
    display: flex;
    gap: 5px;
}
.buttons__fourd{
    display: flex;
    gap: 5px;
}
.buttons__five{
    display: flex;
    gap: 5px;
}
.buttons__five :first-child{
    width: 126px;
    height: 60px;
    left: 17px;
    top: 770px;
    border-radius: 352px;
}
.bg-grey{
    background: #A5A5A5;
}
.bg-orange{
    background: #F1A33B;
}